body {
        background-image:url(https://i.ytimg.com/vi/KGLB9-LdpYM/maxresdefault.jpg)
}

h1 {
        color: #ffffff;
}

#one {
        height: 486px;
        width: 900px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 150px;
}

#two {
        height: 150px;
        width: 300px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: -490px;
}

#three {
        height: 150px;
        width: 300px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 14px;
        margin-left: 918px;
}

#four {
        height: 150px;
        width: 300px;
        border: 2px solid white;
        background-color: #000000;
        margin-top: 14px;
        margin-left: 918px;
}
